@import "../styles/variables.scss";

.section {
  h2 {
    width: fit-content;
    display: flex;
    align-items: center;
    cursor: pointer;
    .arrowDown {
      width: 50px;
      height: 50px;
      transition: rotate 0.2s ease-in-out;
      user-select: none;
    }

    .arrowLeft {
      rotate: -90deg;
    }

    span {
      font-size: 20px;
      color: $main-color-dark;
      margin-right: 20px;
      user-select: none;
    }
  }

  .projectsContainer {
    padding: 10px;
    display: flex;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;

    .newProject {
      background-color: $main-color-ultralight;
      cursor: pointer;
      width: $item-width;
      height: $item-height;
      border: 5px dashed $main-color-dark;
      border-radius: $item-border-radius;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      transition: filter 0.3s ease-in-out;

      .addIcon {
        width: 70px;
      }

      & span {
        margin-top: 10px;
        color: $main-color-dark;
        font-size: 24px;
        font-weight: bold;
      }
    }

    .newProject:hover {
      filter: brightness(0.9);
    }
  }
}
