@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

.container {
  width: 100%;
  height: auto;
  flex-grow: 1;
  background-color: black;
  font-size: 19px;
  font-family: "Ubuntu Mono", monospace;
  padding-top: 4px;
  overflow-wrap: break-word;
  overflow-y: auto;

  p {
    margin: 2px 0;
    padding-left: 12px;
  }

  .log {
    color: white;
  }
  .info {
    color: lightblue;
    background-color: rgb(0, 47, 76);
  }

  .warn {
    color: rgb(253, 181, 47);
    background-color: rgb(99, 46, 0);
  }

  .error {
    color: rgb(255, 78, 78);
    background-color: rgb(99, 0, 0);
  }
}
