@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

.container {
  width: 100%;
  height: auto;
  flex-grow: 1;
  background-color: black;
  color: white;
  font-size: 32px;
  font-family: "Ubuntu Mono", monospace;
  padding-left: 16px;
}
