@import "../styles/variables.scss";

.container {
  .resizable {
    position: relative;
    z-index: 1;
  }

  .topbar {
    background-color: $main-color;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    overflow: visible;

    button {
      cursor: pointer;
      border: none;
      font-weight: bold;
      background-color: rgba(0, 0, 0, 0);
      img {
        height: 100%;
        transition: 0.2s transform ease-in-out;
      }
      img:hover {
        transform: scale(2.2);
      }
    }
  }
}

.resizer {
  position: absolute;
  cursor: col-resize;
  height: 100%;
  right: 0;
  top: 0;
  width: 5%;
}

.rightPanel {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.imgBtn {
  width: 30px;
  height: 30px;
  margin: 5px;
  cursor: pointer;
}

.themeBtn {
  align-items: center;
  cursor: pointer;
}