@import "../styles/variables.scss";

.container {
  background-color: $main-color-ultralight;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  user-select: none;

  h1,
  h2 {
    margin: 0;
    color: $main-color;
  }

  .middle {
    display: flex;
    img {
      height: $header-height;
    }
  }

  .img {
    cursor: pointer;
    filter: opacity(0.8);
    transition: all 0.3s ease-in-out;
  }

  .img:hover {
    filter: opacity(1);
    transform: scale(1.1);
  }

  .header {
    display: flex;
    gap: 10px;
    position: absolute;
  }

  .headerLeft {
    left: 10px;
  }

  .headerRight {
    right: 10px;
  }
}
