@import "../styles/variables.scss";

.container {
  background-color: $main-color-ultralight;
  // padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  user-select: none;

  h1,
  h2 {
    margin: 0;
  }

  .middle {
    display: flex;
    img {
      height: $header-height;
      cursor: default;
    }
  }

  img {
    cursor: pointer;
  }

  .header {
    display: flex;
    gap: 10px;
    position: absolute;
  }

  .headerLeft {
    left: 10px;
  }

  .headerRight {
    right: 10px;
  }
}
