@import "../styles/variables.scss";

.layoutContainer {
  background-color: $main-color-ultralight;
  & > div {
    max-width: 1200px;
    min-height: calc(100vh - $header-height);
    padding: 10px;
  }
}
