@import "../styles/variables.scss";

$horizontalPadding: 10px;
$borderRadius: 10px;

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.137);

  display: flex;
  justify-content: center;
  align-items: center;

  .modalContainer {
    background-color: $main-color-ultralight;
    border-radius: $borderRadius;
    padding: 0 $horizontalPadding 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    user-select: none;

    h3 {
      border-top-left-radius: $borderRadius;
      border-top-right-radius: $borderRadius;
      position: relative;
      margin: 0;
      left: calc(-1 * $horizontalPadding);
      width: calc(100% + 2 * $horizontalPadding);
      background-color: $main-color-dark;
      color: white;
      margin-bottom: 10px;
      padding: 5px;
      text-align: center;
    }

    .buttonContainer {
      width: auto;
      align-self: flex-end;
    }
  }
}
